img{
    width: 100px;
    height: 70px;
}
div.logo{
display: flex;
align-items: center;
background-color: greenyellow;
justify-content: center;
color: black;
}
.nav,ul,li{
    text-align: right;
    display: flex;
    margin-left: 30px;
    text-decoration:none;
    list-style: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bg{
    background-image: url(hosptal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-image2s ease;
    animation:bgChange 20s,infinite ;
}
@keyframes bgChange{
    0%{background-image: url(hosptal.jpg);}
33%{background-image: url(hospital\ 1.jpg);}
    66%{background-image: url(hopital.jpg);}
    100%{background-image: url(ht.png);}
}


li a {
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
  